{% extends "nvd/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit Vulnerability Assessment{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Edit Vulnerability Assessment</h4>
    {% if assessment_id %}
    <form action="{% url 'nvd:assessment_mod' vulnerability_id=vulnerability_id assessment_id=assessment_id %}" method="post">
    {% else %}
    <form action="{% url 'nvd:assessment_add' vulnerability_id=vulnerability_id %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <a href="{% url 'nvd:assessment_list' vulnerability_id=vulnerability_id %}" class="btn btn-secondary btn-sm">Back</a>
{% endblock content %}