{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'vulnerability/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'nvd/css/index.css' %}">
<link rel="stylesheet" href="{% static 'nvd/css/lds-roller.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}Week Vulnerability{% endblock %}</title>
</head>
<body>
  <div class="container">
    <div>
      <nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Menu</a> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'nvd:index' %}" class="nav-link">Vulnerability List</a></li>
            <li class="nav-item"><a href="{% url 'account_email' %}" class="nav-link">Change E-mail</a></li>
            <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Sign Out</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Sign In</a></li>
            <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'vulnerability/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
