{% extends "nvd/base.html" %}

{% block extra_css %}<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">{% endblock %}

{% block title %}Vulnerabilities List{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">Vulnerabilities List</h4>
    <a href="#" class="btn btn-primary btn-sm my-3">Add</a>
    <table class="table table-striped table-bordered table-hover" id="vulnerability_list">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">CVE ID</th>
          <th scope="col">Base Score</th>
          <th scope="col">Attack Vector</th>
          <th scope="col">CWE Type</th>
          <th scope="col">Description</th>
          <th scope="col">Published Date</th>
          <th scope="col">Last Modified Date</th>
          <th scope="col">Vendor Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Affected Version</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for vulnerability in vulnerabilities %}
        <tr>
          <th scope="row">{{ vulnerability.id }}</th>
          <td>{{ vulnerability.cve_id }}</td>
          <td>{{ vulnerability.base_score }}</td>
          <td>{{ vulnerability.attack_vector }}</td>
          <td>{{ vulnerability.cwe_type }}</td>
          <td>{{ vulnerability.description }}</td>
          <td>{{ vulnerability.published_date }}</td>
          <td>{{ vulnerability.last_modified_date}}</td>
          <td>{{ vulnerability.vendor_name }}</td>
          <td>{{ vulnerability.product_name }}</td>
          <td>{{ vulnerability.affected_version }}</td>
          <td>
            <a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="#" class="btn btn-outline-danger btn-sm del_confirm">Delete</a>
            <a href="{% url 'nvd:assessment_list' vulnerability_id=vulnerability.id %}" class="btn btn-outline-info btn-sm">Assessment</a>
          </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#vulnerability_list').DataTable({
      scrollX: true,
    });
} );
</script>
{% endblock %}